{% extends "base.html" %}

{% block meta %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
{% include 'nav.html' %}
<style>


</style>
<body>
  <!--Main layout-->
  <div id="loadingSpinner" class="spinner-overlay" style="display:none;">
    <div class="spinner"></div>
</div>
  <main style="margin-top: 58px">
    <div class="container pt-4">


      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Enquiries from the past 7 days</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Number</th>
                    <th scope="col">Enquiry</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>


                  </tr>
                </thead>
                <tbody id="enquiries-table">
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>

              <div class="card">
                <div class="card-header text-center py-3">
                  <h5 class="mb-0 text-center">
                    <strong>Calendar</strong>
                  </h5>
                </div>
                <div class="card-body p-0">
                  <div id="calendar"></div>
                </div>
              </div>
            

              <div class="modal modal-top fade calendar-modal" id="modal-view-event-add" tabindex="-1" aria-labelledby="newquotemodalLabel" aria-hidden="true">
            
                <form action="./dashboard/new_event" id="new-quote-form" method="POST">

                  <div class="modal-dialog">
                    <div class="modal-content" style="height: 560px;">
                      <div class="modal-header">
                        <h5 class="modal-title" id="newquotemodalLabel">New Event</h5>
                        <button type="button" class="btn-close" data-mdb-ripple-init data-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
      
                              <div class="form-outline" data-mdb-input-init>
                              <input type="text" id="typeText" class="form-control" name='quote_title' required/>
                              <label class="form-label" for="typeText">Title</label>
                            </div>
                            <br>
      
                            <div class="form-outline" data-mdb-input-init>
                              <textarea class="form-control" id="textAreaExample" rows="4" name='quote_details' required></textarea>
                              <label class="form-label" for="textAreaExample">Details</label>
                            </div>
                            <br>
      
         
      
                            <div class="form-outline" data-mdb-input-init>
                              <select name="category_id" class="form-select" id="category_box" >
                                <option value="">Select Category</option>
      
                            </select>
            
                            </div>  
                        
                            <br>
                        
        
                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="date-picker-example_root">
                              <label for="datetimePickerStart"> Appointment Start Date: </label>
                              <input type="datetime-local" class="form-control" id="datetimePickerStart" name="scheduled_start_date_and_time">
                            </div><br>
                            
                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="date-picker-example_root">
                              <label for="datetimePickerEnd"> Appointment End Date: </label>
                              <input type="datetime-local" class="form-control" id="datetimePickerEnd" name="scheduled_end_date_and_time">
                            </div>
                           
                            <br>  
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="allDayCheckbox" name="all_day">
                              <label class="form-check-label" for="allDayCheckbox">
                                All Day
                              </label>
                            </div>
                            <br>  
  
                        
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >New Quote</button>
                      </div>
                    </div>
      
                  </div>
                </div>
            </form>
    
                </div>
                


  
      </section>
      
    </div>
  </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js"></script>

<script>
  
  // Assuming enquiries_list is passed to the template as a JSON string
  const enquiriesList = {{ enquiries_list | tojson | safe }};
  const loadingSpinner = document.getElementById('loadingSpinner');
  var jsonDataCategories = {{ categories | tojson }};

  document.addEventListener('DOMContentLoaded', function() {


    var allDayCheckbox = document.getElementById('allDayCheckbox');
    var datetimePickerEnd = document.getElementById('datetimePickerEnd');

    allDayCheckbox.addEventListener('change', function () {
      datetimePickerEnd.disabled = this.checked;
    });
    

    if (! jsonDataCategories == []) {
        var selectBox = document.getElementById('category_box'); // Replace 'select_box' with your select element's ID
        jsonDataCategories['categories'].forEach(function(category) {

            var option = document.createElement('option');
            option.value = category.id;
            option.text = category.category;
            selectBox.appendChild(option);
        });
              
      }

      populateTable();
      attachSortHandlers();
      var dashboardTab = document.getElementById('dashboard-tab');

      // Add the 'active' class to this element
      dashboardTab.classList.add('active');
  
      document.querySelectorAll('.read-more-link').forEach(link => {
        link.addEventListener('click', function(event) {
        event.preventDefault();
        let cell = this.parentElement;
        let fullText = this.nextElementSibling;
        let shortText = cell.querySelector('.short-text');
        shortText.style.display = 'none';
        let hideLink = cell.querySelector('.hide-text');
        hideLink.style.display = 'inline';
        fullText.style.display = 'block';
        this.style.display = 'none';
        cell.classList.add('wide-column');
      });
  });

  document.querySelectorAll('.hide-text').forEach(link => {
  link.addEventListener('click', function(event) {
    event.preventDefault();

    // Use closest to find the nearest parent td
    let cell = this.parentElement;
    let shortText = cell.querySelector('.short-text');
    let fullText = cell.querySelector('.full-text');
    let readMoreLink = cell.querySelector('.read-more-link');

    shortText.style.display = 'block';
    fullText.style.display = 'none';
    this.style.display = 'none';
    readMoreLink.style.display = 'inline';
    cell.classList.remove('wide-column'); // This should now work correctly
  });
});


});

  function populateTable() {
      let tableBody = document.getElementById('enquiries-table');
      tableBody.innerHTML = ''; // Clear existing table rows

      enquiriesList.forEach((enquiry) => {
          let formattedTimestamp = formatDate(enquiry.timestamp);

          var shorter_info = enquiry.additional_information
          var td_text = ''
          if (shorter_info.length > 20) {
            var shorter_info = shorter_info.slice(0, 20);
            var td_text =  `

                          <td >
                <span class="short-text"> ${shorter_info}</span>
                <a href="#" class="read-more-link">Read More</a>
                <span class="full-text" style="display:none;">  ${enquiry.additional_information} - ${enquiry.postcode}</span>
                <a href="#" class="hide-text" style="display: none;">Hide</a>

              </td>
             
            `
          }else{
            var td_text =  `
                          <td>
                <span class="short-text"> ${enquiry.additional_information}</span>
              </td>
             
            `
          }
          let row = `<tr>
              <td>${enquiry.full_name}</td>
              <td>${enquiry.phone_number}</td>
            
              ${td_text}
              <td>${formattedTimestamp}</td>
              <td> <span class="badge badge-success rounded-pill">New</span></td>
              <td>
                <a href="./client/enquiry/${enquiry.id}">  <button type="button" class="btn btn-link btn-sm btn-rounded" onclick="showSpinnerAndBlur()">
          View
        </button></a>
                
            </td>

          </tr>`;
          tableBody.innerHTML += row; // Append each row to the table body
      });
  }

  // Function to format date
  function formatDate(dateString) {
      const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: false };
      const date = new Date(dateString);
      return new Intl.DateTimeFormat('default', options).format(date).replace(/\//g, '-').replace(',', '');
  }


  function hideSpinnerAndUnblur() {
    var loadingSpinner = document.getElementById('loadingSpinner');

    loadingSpinner.style.display = 'none';
}


  function showSpinnerAndBlur() {
        var loadingSpinner = document.getElementById('loadingSpinner');

        loadingSpinner.style.display = 'flex';
    }

  function attachSortHandlers() {
      // Get all headers
      const headers = document.querySelectorAll('th');
      headers.forEach((header, index) => {
          header.addEventListener('click', () => {
              sortColumn(index);
          });
      });
  }

  function sortColumn(columnIndex) {
      const tableBody = document.getElementById('enquiries-table');
      let rows = Array.from(tableBody.getElementsByTagName('tr'));

      // Determine if ascending or descending
      const direction = tableBody.getAttribute('data-sort-dir') === 'asc' ? -1 : 1;
      // Toggle the direction
      tableBody.setAttribute('data-sort-dir', direction === 1 ? 'asc' : 'desc');

      // Sort rows
      rows.sort((a, b) => {
          const aText = a.cells[columnIndex].innerText.toLowerCase();
          const bText = b.cells[columnIndex].innerText.toLowerCase();

          return aText.localeCompare(bText) * direction;
      });

      // Re-add the sorted rows to the table
      rows.forEach(row => tableBody.appendChild(row));
  }
  jQuery(document).ready(function(){
  jQuery('.datetimepicker').datepicker({
      timepicker: true,
      language: 'en',
      range: true,
      multipleDates: true,
		  multipleDatesSeparator: " - "
    });
  jQuery("#add-event").submit(function(){
      alert("Submitted");
      var values = {};
      $.each($('#add-event').serializeArray(), function(i, field) {
          values[field.name] = field.value;
      });
      console.log(
        values
      );
  });
});
get_quotes=[]

$(document).ready(function() { 
  showSpinnerAndBlur()
  fetch('./dashboard/get_quotes', {
          method: 'GET',
      })
      .then(response => response.json())
      .then(data => {
        get_quotes=data['quotes']
        var conveted_quotes = convertToFullCalendarEvents(get_quotes);

		// page is ready
		jQuery('#calendar').fullCalendar({
			themeSystem: 'bootstrap4',
			// emphasizes business hours
			businessHours: false,
			defaultView: 'agendaWeek',
      timeFormat: 'h:mma',
			// event dragging & resizing
			editable: true,
			// header
			header: {
				left: 'title',
				center: 'month,agendaWeek,agendaDay',
				right: 'today prev,next'
			},
			events: conveted_quotes,
			eventRender: function(event, element) {
				if(event.icon){
					element.find(".fc-title").prepend("<i class='fa fa-"+event.icon+"'></i>");
				}
			  },
			dayClick: function() {
				jQuery('#modal-view-event-add').modal();
			},
			eventClick: function(event, jsEvent, view) {
        if(event.icon){
			        jQuery('.event-icon').html("<i class='fa fa-"+event.icon+"'></i>");
            }
					jQuery('.event-title').html(event.title);
					jQuery('.event-body').html(event.description);
					jQuery('#modal-view-event').modal();
			},
		})
    hideSpinnerAndUnblur();

      })
      .catch(error => {
          console.error('Error:', error);
          hideSpinnerAndUnblur();
      });


      function convertToFullCalendarEvents(data) {
    return data.map(function(event) {
        return {
            title: event.event_title ?? event?.quote?.quote_title ?? 'No Title',
            start: event.scheduled_start_date_and_time ?? null,
            end: event.scheduled_end_date_and_time ?? null,
            event_title: event.event_title ?? event?.quote?.quote_title,
            notes: event.notes ?? '',
            allDay: event.all_day ?? false
        };
    });
}


	});
  

  document.getElementById('new-quote-form').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevents the default form submission
  
      // Add your spinner here
      // For example, you could add a spinner element or class to a div
  
      // Gather form data
      var formData = new FormData(this);
  
      // Perform the AJAX request
      fetch('./dashboard/new_event', {
          method: 'POST',
          body: formData
      })
      .then(response => response.json())
      .then(data => {
        console.log(data)
          // Handle response data
          // Remove the spinner
          // Optionally, you can check the response and decide whether to reload
  
          // Reload the page
          window.location.reload();
      })
      .catch(error => {
          console.error('Error:', error);
          // Remove the spinner
          // Handle the error
      });
  });
  
</script>
{% endblock %}

{% block script %}
{% endblock %}

